<header>
  <h1 class="text-center">
    URL Shortener
  </h1>
</header>

<div class="text-center ">
  <img class="rounded mx-auto d-block w-25 h-25"
    src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
</div>

<div class="my-3 ">
  <input type="url" class="form-control w-50" id="originURL" placeholder="Input URL here">
</div>